// For colors and other general stuff

$primary: #006d99;
$secondary: #00995b;

$primary-hover: #0085b6;

$background-primary: #eee;
$background-secondary: #ddd;

$yellow:rgb(255, 218, 0);
$orange:rgb(255, 155, 0);
$red:rgb(255, 109, 63);
$blue:rgb(63, 195, 255);
$bluegreen:rgb(28, 232, 181);
$green:rgb(149, 214, 65);


$font-primary: Verdana, Geneva, sans-serif;
