.kembe-footer {
    align-items: center;
    background-color: $primary;
    bottom: 0;
    color: $white;
    display: flex;
    min-height: 5rem;
    position: absolute;
    width: 100%;

    @include mobile {
        position: relative;
        padding: 1rem 0;
    }

    p, a {
        color: $white;
        margin: 0;
        font-size: 1rem
    }

    .footer-social-icons {
        @include mobile {
            margin-top: 10px;
        }

        a {
            margin-left: 10px;
        }

        .fa-facebook-official:hover {
            color: $facebook;
        }

        .fa-instagram:hover {
            color: $instagram;
        }

        .fa-twitter-square:hover {
            color: $twitter;
        }
    }
}
