.homepage-top {
    color:$white;
    height: 85vh;
    position: relative;
    width: 100%;
}

.homepage-massive-image {
    background: url(../img/kembe-background.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height:100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.homepage-massive-image:before {
    background-image: linear-gradient(to top,#000,rgba(0,0,0,0));
    bottom: 0;
    content: '';
	left: 0;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
  }

.homepage-top .d-flex {
    height: 100%;
}

.homepage-top h1{
    font-family: 'Bahiana', cursive;
    font-size: 22vw;
    line-height: normal;
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    z-index: 1001;
}

.homepage-top span{
    max-width: 60vw;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    z-index: 1001;
}

.homepage-signup {
    margin: 3rem auto 5rem;
    text-align: center;
    width: 50%;

    @include mobile {
        width:100%;
    }
}

.blog-post-image-container-homepage {
    min-height: 100px;
}

#kickstarter-coming-soon {
    height: auto;
    position: absolute;
    right: 50px;
    top: 0;
    width: 25vh;
    z-index: 1000;
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);

    @include mobile {
        right: 0;
        width: 40vw;
    }
}

#kickstarter-now-live {
    margin-top: 2rem;
    height: auto;
    width: 300px;
}
